blobfile==2.0.2
clean-fid==0.1.35
click==8.1.7
imageio==2.31.2
matplotlib==3.5.3
omegaconf==2.3.0
opt-einsum==3.3.0
requests==2.31.0
scikit-learn==1.0.2
scipy==1.10.1
six==1.16.0
tensorboard==1.14.0
tqdm==4.66.5
gdown==4.7.3
pytorch-lightning==1.4.2
torchmetrics==0.5.0
einops
opencv-python
image-reward
diffusers==0.30.3
test-tube==0.7.5
git+https://github.com/marcojira/fld.git
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
